@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.page-wrapper {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}
